<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <h2>Welcome to my Python Final Project</h2>
    <p>Name: Jasmine Lou</p>
    <img src="/static/photo.JPG" style="width:552px;height:500px;">
    <p>Year: First Year</p>
    <p>Intended Major: Computer Science</p>
    <p>Below is my favorite website, along with two other pages on this site...</p>
    <a href="https://cponline.pw/play/"> Fave Website</a>
    <a href="/assignments"> Assignments</a>
    <a href="/classes"> Classes</a>
    </body>
</html>

